src/main/resources/api/MaterialPriceService.wsdl

<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsmex="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://xmlns.amgen.com/enterprise/datatypes/AmgenTypes/v2" xmlns:s1="http://xmlns.amgen.com/enterprise/doctypes/MaterialPrice/v1" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.amgen.com/enterprise/services/MPriceClient/V1" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://xmlns.amgen.com/enterprise/services/MPriceClient/V1">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://xmlns.amgen.com/enterprise/doctypes/MaterialPrice/v1">
			<s:element name="AmgenMaterialPrice" type="s1:AmgenMaterialPriceType"/>
			<s:complexType name="AmgenMaterialPriceType">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="0" name="ConditionRecordID" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="MaterialNumber" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="SalesOrganization" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="ConditionType">
						<s:complexType>
							<s:simpleContent>
								<s:extension base="s2:CodeLength4AndDescriptionPairType"/>
							</s:simpleContent>
						</s:complexType>
					</s:element>
					<s:element maxOccurs="1" minOccurs="1" name="Amount" nillable="true" type="s:decimal"/>
					<s:element maxOccurs="1" minOccurs="0" name="CurrencyCode" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="UOM" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="DestinationCountry" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="DestinationRegion" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="ValidFromDate" nillable="true" type="s:date"/>
					<s:element maxOccurs="1" minOccurs="1" name="ValidToDate" nillable="true" type="s:date"/>
					<s:element maxOccurs="1" minOccurs="0" name="Administration" type="s2:AdministrationType"/>
				</s:sequence>
			</s:complexType>
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://xmlns.amgen.com/enterprise/datatypes/AmgenTypes/v2">
			<s:complexType name="CodeLength4AndDescriptionPairType">
				<s:simpleContent>
					<s:extension base="s:string">
						<s:attribute name="code" type="s:string"/>
					</s:extension>
				</s:simpleContent>
			</s:complexType>
			<s:complexType name="AdministrationType">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="LastUpdateDate" nillable="true" type="s:dateTime"/>
					<s:element maxOccurs="1" minOccurs="0" name="LastUpdatedByWorkforceId" type="s:NMTOKEN"/>
				</s:sequence>
			</s:complexType>
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://xmlns.amgen.com/enterprise/services/MPriceClient/V1">
			<s:import namespace="http://xmlns.amgen.com/enterprise/doctypes/MaterialPrice/v1"/>
			<s:element name="ProcessNewMaterialPrice" type="tns:ProcessNewMaterialPriceRequestType"/>
			<s:complexType name="ProcessNewMaterialPriceRequestType">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="0" name="MessageId" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" ref="s1:AmgenMaterialPrice"/>
				</s:sequence>
			</s:complexType>
			<s:element name="ProcessModifyMaterialPrice" type="tns:ProcessModifyMaterialPriceRequestType"/>
			<s:complexType name="ProcessModifyMaterialPriceRequestType">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="0" name="MessageId" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" ref="s1:AmgenMaterialPrice"/>
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="ProcessModifyMaterialPriceSoapIn">
		<wsdl:part name="modifyMaterialPrice" element="tns:ProcessModifyMaterialPrice"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="ProcessModifyMaterialPriceSoapOut"> </wsdl:message>
	<wsdl:message name="ProcessNewMaterialPriceSoapIn">
		<wsdl:part name="newMaterialPrice" element="tns:ProcessNewMaterialPrice"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="ProcessNewMaterialPriceSoapOut"> </wsdl:message>
	<wsdl:portType name="MaterialPriceClientV1_0SOAP">
		<wsdl:operation name="ProcessNewMaterialPrice">
			<wsdl:input message="tns:ProcessNewMaterialPriceSoapIn"> </wsdl:input>
			<wsdl:output message="tns:ProcessNewMaterialPriceSoapOut"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessModifyMaterialPrice">
			<wsdl:input message="tns:ProcessModifyMaterialPriceSoapIn"> </wsdl:input>
			<wsdl:output message="tns:ProcessModifyMaterialPriceSoapOut"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaterialPriceClientV1_0SOAP" type="tns:MaterialPriceClientV1_0SOAP">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ProcessNewMaterialPrice">
			<soap:operation soapAction="http://xmlns.amgen.com/enterprise/services/MaterialPriceClient/V1/ProcessNewMaterialPrice" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessModifyMaterialPrice">
			<soap:operation soapAction="http://xmlns.amgen.com/enterprise/services/MaterialPriceClient/V1/ProcessModifyMaterialPrice" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MaterialPriceClientV1_0SOAP1" type="tns:MaterialPriceClientV1_0SOAP">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ProcessNewMaterialPrice">
			<soap12:operation soapAction="http://xmlns.amgen.com/enterprise/services/MaterialPriceClient/V1/ProcessNewMaterialPrice" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ProcessModifyMaterialPrice">
			<soap12:operation soapAction="http://xmlns.amgen.com/enterprise/services/MaterialPriceClient/V1/ProcessModifyMaterialPrice" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaterialPriceEDHSubscriber_vs0">
		<wsdl:port name="MaterialPriceEDHSubscriber_vs0_http" binding="tns:MaterialPriceClientV1_0SOAP">
			<soap:address location="http://localhost:8091/MaterialPriceEDHSubscriber_vs0/MaterialPriceEDHSubscriber_vs0_http1"/>
		</wsdl:port>
		<wsdl:port name="MaterialPriceEDHSubscriber_vs0_http1" binding="tns:MaterialPriceClientV1_0SOAP1">
			<soap:address location="http://localhost:8091/MaterialPriceEDHSubscriber_vs0/MaterialPriceEDHSubscriber_vs0_http1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>